# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environment
.env
.venv/
venv/
env/
ENV/

# Database
*.sqlite3
*.sqlite3-journal
*.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Django
local_settings.py
db.sqlite3
media/
staticfiles/

# Distribution / packaging
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Unit test / coverage reports
coverage.xml
.pytest_cache/