{% load i18n %}
{% autoescape off %}
{% blocktrans %}Sie erhalten diese E-Mail, weil Sie ein neues Passwort für Ihr {{ site_name }}-Konto angefordert haben.{% endblocktrans %}

{% trans "Bitte klicken Sie auf den folgenden Link, um ein neues Passwort festzulegen:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Ihr Benutzername, falls Sie ihn vergessen haben:" %} {{ user.get_username }}

{% trans "Danke, dass Sie unseren Service nutzen!" %}

{% blocktrans %}Das {{ site_name }}-Team{% endblocktrans %}
{% endautoescape %}