{% extends 'base.html' %}

{% block title %}Anmeldung | {{ block.super }}{% endblock %}
{% block content %}


    <div class="container py-5">
        <h1 class="mb-4">Nutzungsbedingungen</h1>

        <h3>1. Nutzung der Plattform</h3>
        <p>SmartToDo ist ein kostenloses Online-Tool zur Aufgabenverwaltung. Sie können Aufgaben anlegen, Erinnerungen aktivieren und Ihre Organisation verbessern.</p>

        <h3>2. Nutzerverhalten</h3>
        <p>Sie verpflichten sich, keine rechtswidrigen oder schädlichen Inhalte über unsere Plattform zu verbreiten.</p>

        <h3>3. Verfügbarkeit</h3>
        <p>Wir streben eine hohe Verfügbarkeit an, garantieren jedoch keine unterbrechungsfreie Nutzung.</p>

        <h3>4. Haftung</h3>
        <p>Für technische Fehler oder Datenverluste übernehmen wir keine Haftung, soweit gesetzlich zulässig.</p>

        <h3>5. Änderungen</h3>
        <p>Änderungen der Bedingungen werden auf dieser Seite veröffentlicht. Durch die weitere Nutzung stimmen Sie den Änderungen zu.</p>

        <h3>Kontakt</h3>
        <p>support@smarttodo.de</p>
    </div>
{% endblock %}

